body {
  background-color: #88bdbc;
  margin: 3%;
}


h1 {
  color: #112d32;
  text-align: center;
  /* background-color: #254E58;; */
  font-family: Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: bolder;
  text-transform: uppercase;
}

h2 {
  color: #112d32;
  text-align: center;
  /* background-color: #f9f9f9;; */
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: lighter;
}

h3 {
  color: #112d32;
  text-align: left;
  /* background-color: #f9f9f9;; */
  font-family: Helvetica;
  font-size: 12px;
  font-weight: lighter;
  margin-left: 20px;
}

h4 {
  color: #112d32;
  text-align: right;
  font-size: 20px;
  background-color: #f9f9f9;;
  font-family: Helvetica;
  font-weight: lighter;
}

.filter {
  background-color: #e9e9e9;
  /* border-radius: 5px; */
  padding: 10px;
}

.title {
  background-color: #9EDBDA;
  border-radius: 5px;
  /* border: 1px solid red; */
  /* padding-top: 1px;
  padding-bottom: 1px; */
}

.paragraph {
  background-color: #e9e9e9;
  /* border-radius: 5px; */
  font-family: Helvetica;
  font-size: 20px;
  font-weight: lighter;
  text-align: right;
}

.pretty {
  border-radius: 5px;
  background-color: #f9f9f9;
  margin: 10px;
  padding: 15px;
  box-shadow: 2px 2px 2px lightgrey;
}

.row {
  display: flex;
}

.column1 {
  flex: 60%;
  margin: auto;
  background-color: #9EDBDA;
}

.column2 {
  flex: 70%;
}

.column3 {
  flex: 50%;
}

.column_one {
  flex: 96%;
  margin: auto;
}

.column_two {
  flex: 48%;
  margin-top: auto;
  background-color: #9EDBDA;
  /* border-radius: 5px; */
}

.column_two_filter {
  flex: 48%;
  margin: auto;
  background-color: #e9e9e9;
  /* border-radius: 5px; */
}

.mini {
  flex: 15%;
  margin: 5%;
}

button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #f9f9f9;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 70px;
  }


  @media (max-width: 900px) {
    .row {
      display: block;
    }
  }